<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <title>All Investors</title>
</head>

<body>
    <header class="main-header clearfix" role="header">
        <div class="logo">
          <a href="#"><em>All providers</em></a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
          <ul class="main-menu">
            <li><a href="#section1">Home</a></li>
            
            <li><a href="#section6">Contact Us</a></li>
          </ul>
        </nav>
      </header>
    
    <table class="table" style="
    font-size: 15px;
    margin-left: 0px;
    margin-right: 500px;
    border-top-width: 2px;
    margin-top: 100px;" >
        <tr>
            <th>Organisation Name</th>
            <th>Job Profile</th>
            <th>Compensation</th>
            <th>Location</th>
            <th>10th required?</th>
            <th>12th required?</th>
            <th>Graduation required?</th>
            <th>Post graduation required?</th>


        </tr>
        <% for (let user of users) {%>
        <tr>
            <td><%= user.org_name %></td>
            <td><%= user.job_profile %></td>
            <td><%= user.profile_compensation %></td>
            <td><%= user.profile_location %></td>
            <td><%= user.req_tenth %></td>
            <td><%= user.req_twelfth %></td>
            <td><%= user.req_graduation_degree %></td>
            <td><%= user.req_post_graduation_degree %></td>
            
        </tr>
        <% }%>
    </table>
</body>

</html>