<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

   
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <title>All Job Seekers</title>
    
<body>
    <header class="main-header clearfix" role="header">
        <div class="logo">
          <a href="#"><em>All Investors</em></a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
          <ul class="main-menu">
            <li><a href="#section1">Home</a></li>
            
            <li><a href="#section6">Sign Out</Out></a></li>
          </ul>
        </nav>
      </header>
    <
    <table class="table" style="
    font-size: 15px;
    margin-left: 0px;
    margin-right: 500px;
    border-top-width: 2px;
    margin-top: 100px;">
        <tr>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Email Address</th>
            <th>Matriculate?</th>
            <th>Passed class 12?</th>
            <th>Graduate</th>
            <th>Post-graduate?</th>
            <th>Gold badges?</th>
            <th>Silver badges?</th>
            <th>Bronze badges?</th>


        </tr>
        <% for (let user of users) {%>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.phoneNo %></td>
            <td><%= user.email %></td>
            <td><%= user.tenth %></td>
            <td><%= user.twelfth%></td>
            <td><%= user.graduation_degree %></td>
            <td><%= user.post_graduation_degree %></td>
            <td><%= user.gold_badge %></td>
            <td><%= user.silver_badge %></td>
            <td><%= user.bronze_badge %></td>
        </tr>
        <% }%>
    </table>
</body>

</html>